version: "3"

services:
  nodejs:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: wiltsig/fishquest:1
    container_name: fishquest
    restart: unless-stopped
    networks:
      - app-network

  webserver:
    image: nginx:node:16
    container_name: webserver
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - web-root:/var/www/html
      - ./nginx-conf:/etc/nginx/conf.d
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - dhparam:/etc/ssl/certs
    depends_on:
      - nodejs
    networks:
      - app-network

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - web-root:/var/www/html
    depends_on:
      - webserver
    command: certonly --webroot --webroot-path=/var/www/html --email wiltsig@gmail.com --agree-tos --no-eff-email --staging -d api.fishquest.net  -d www.api.fishquest.net
    # command: certonly --webroot --webroot-path=/var/www/html --email wiltsig@gmail.com --agree-tos --no-eff-email --force-renewal -d api.fishquest.net  -d www.api.fishquest.net

volumes:
  certbot-etc:
  certbot-var:
  web-root:
    driver: local
    driver_opts:
      type: none
      device: /home/ubuntu/views/
      o: bind
  dhparam:
    driver: local
    driver_opts:
      type: none
      device: /home/ubuntu/dhparam/
      o: bind

networks:
  app-network:
    driver: bridge
